.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.login-form {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.login-form > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 8px 0;
}

.login-form > div.-action {
  justify-content: space-between;
}

.login-form > div.-sign-up-link > a {
  color: white;
}

.register-form {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.register-form > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 8px 0;
}

.register-form > div.-action {
  justify-content: space-between;
}

.register-form > div.-sign-up-link > a {
  color: white;
}

.admin-header {
  height: 50px;
  background-color: slategray;
  display: flex;
  justify-content: flex-end;
}

.user-portrait {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #61dafb;
}

.posts{
  height: 400px;
}



