<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="js/index.js"></script>
    <title>Title</title>
</head>
<body>
<p th:text="'hello,'+${session.get('user').getNickname()}">hello</p>
<a href="/scfish/admin/v1/logout">注销当前账号</a>
<a href="/publish">发布帖子</a>

<div th:each="post:${postPage}">
    <a th:href="'/scfish/v1/post/enterPost?postId='+${post.getId()}">
        <div>
            <span th:text="${post.getTitle()}"></span>
            <span th:text="${post.getContent()}"></span>
        </div>
    </a>
</div>
</body>
</html>